#version: '3'

services:
  nginx:
    build: requirements/nginx/
    container_name: nginx
    networks:
      - inception
    depends_on:
      - wordpress
    ports:
        - "443:443"
    volumes:
      - ./requirements/nginx/conf/:/etc/nginx/http.d/
      - ./requirements/nginx/tools:/etc/nginx/ssl/
      - wp-volume:/var/www/
    restart: always

  mariadb:
    build:
      context: requirements/mariadb/
      args:
        DB_NAME: ${DB_NAME}
        DB_USER: ${DB_USER}
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
    networks:
      - inception
    container_name: mariadb
    ports:
      - "3306:3306"
    restart: always
    volumes:
      - db-volume:/var/lib/mysql

  wordpress:
    build:
      context: requirements/wordpress/
      args:
        DB_NAME: ${DB_NAME}
        DB_USER: ${DB_USER}
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      WP_PATH: ${WP_PATH}
      SITE_URL: ${SITE_URL}
      SITE_TITLE: ${SITE_TITLE}
      ADMIN_USER: ${ADMIN_USER}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      SIMPLE_USER: ${SIMPLE_USER}
      SIMPLE_EMAIL: ${SIMPLE_EMAIL}
    networks:
      - inception
    container_name: wordpress
    volumes:
      - wp-volume:/var/www/
    depends_on:
      - mariadb
    restart: always

volumes:
  wp-volume:
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/data/wordpress

  db-volume:
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/data/mariadb

networks:
  inception:
    driver: bridge
