#version: '3'

services:
  mariadb:
    build:
      context: requirements/mariadb/
      args:
        DB_NAME: ${DB_NAME}
        DB_USER: ${DB_USER}
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
    container_name: mariadb
    networks:
      - inception
    ports:
      - "3306:3306"
    volumes:
      - db-volume:/var/lib/mysql
    restart: always

  wordpress:
    build:
      context: requirements/wordpress/
      args:
        DB_NAME: ${DB_NAME}
        DB_USER: ${DB_USER}
    env_file:
      - .env
    container_name: wordpress
    networks:
      - inception
    volumes:
      - wp-volume:/var/www/
    secrets:
      - wordpress_superpass
      - wordpress_simplepass
      - mariadb_db_password
      - mariadb_db_root_password
    depends_on:
      - mariadb
    restart: always
 
  nginx:
    build: requirements/nginx/
    container_name: nginx
    networks:
      - inception
    ports:
        - "443:443"
    volumes:
      - ./requirements/nginx/conf/:/etc/nginx/http.d/
      - ./requirements/nginx/tools:/etc/nginx/ssl/
      - wp-volume:/var/www/
    depends_on:
      - wordpress
    restart: always

secrets:
  wordpress_superpass:
    file: ../secrets/wordpress/superpass.txt
  wordpress_simplepass:
    file: ../secrets/wordpress/simplepass.txt
  mariadb_db_password:
    file: ../secrets/mariadb/db_password.txt
  mariadb_db_root_password:
    file: ../secrets/mariadb/db_root_password.txt

volumes:
  wp-volume:
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/data/wordpress
  db-volume:
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/data/mariadb

networks:
  inception:
    driver: bridge
